repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: pnpm lint
        language: system
        pass_filenames: false
      - id: format
        name: format
        entry: pnpm format:check
        language: system
        pass_filenames: false
      - id: commitlint
        name: commitlint
        entry: pnpm commitlint --edit
        language: system
        stages: [commit-msg]
